@*
    For more information on enabling MVC for empty projects, visit https://go.microsoft.com/fwlink/?LinkID=397860
*@

@{
    ViewData["Title"] = "Accounts";
}


<div class="wrapper wrapper-content animated fadeInRight">
    <div class="row">
        <div class="col-lg-12">
            <div class="ibox float-e-margins">
                <div class="ibox-title">
                    <h5>Your accounts</h5>
                    <div class="ibox-tools">
                        <a class="collapse-link">
                            <i class="fa fa-chevron-up"></i>
                        </a>
                    </div>
                </div>
                <div class="ibox-content">

                    <button type="button" class="btn btn-primary" data-toggle="modal" data-target="#newAccount">
                        Create New Account
                    </button>
                    <div>&nbsp;</div>
                    <table id="accounts" class="table table-hover">
                        <thead>
                            <tr>
                                <td>Name</td>
                                <td>Currency</td>
                                <td>&nbsp;</td>
                            </tr>
                        </thead>
                        <tbody></tbody>
                    </table>

                    <div class="modal inmodal fade" id="newAccount" tabindex="-1" role="dialog" aria-hidden="true">
                        <div class="modal-dialog modal-lg">
                            <div class="modal-content">
                                <div class="modal-header">
                                    <button type="button" class="close" data-dismiss="modal"><span aria-hidden="true">&times;</span><span class="sr-only">Close</span></button>
                                    <h4 class="modal-title">Create a new account</h4>
                                    <small class="font-bold">Create a new  account to which your investments will be coupled</small>
                                </div>
                                <div class="modal-body">
                                    <div class="row">
                                        <div class="col-sm-12">
                                            <form role="form">
                                                <div class="form-group"><label><b>Name</b></label><input type="text" id="name" placeholder="Name" class="form-control"></div>
                                                <div class="form-group"><label><b>Currency</b></label><input type="text" id="currency" placeholder="Currency" maxlength="3" class="form-control"></div>
                                            </form>
                                        </div>
                                    </div>
                                </div>
                                <div class="modal-footer">
                                    <button type="button" class="btn btn-white" data-dismiss="modal">Cancel</button>
                                    <button type="button" class="btn btn-primary" id="Submit">Save changes</button>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

@section Styles {
    <environment names="Development,Staging,Production">
        <link rel="stylesheet" href="~/lib/dataTables/datatables.min.css" />
    </environment>
}

@section scripts {
    <environment names="Development,Staging,Production">
        <script src="~/lib/dataTables/datatables.min.js"></script>
        <script src="~/lib/dataTables/dataTables.bootstrap4.min.js"></script>
    </environment>

    <script type="text/javascript">

        $(document).ready(function () {
            $("#Submit").click(function () {
                var currency = $("#currency").val();
                var name = $("#name").val();
                var hasErrors = false;

                if (!currency.trim() || currency.length != 3) {
                    hasErrors = true;
                    $("#currency").parent().addClass("has-error");
                } else {
                    $("#currency").parent().removeClass("has-error");
                }

                if (!name.trim()) {
                    hasErrors = true;
                    $("#name").parent().addClass("has-error");
                } else {
                    $("#name").parent().removeClass("has-error");
                }



                if (!hasErrors) {
                    var model = new Object();
                    model.Name = name;
                    model.Currency = currency;

                    $.ajax({
                        url: '/accounts',
                        type: 'POST',
                        data: JSON.stringify(model),
                        contentType: 'application/json; charset=utf-8',
                        success: function (data, textStatus) {
                            console.log('Closing modal')
                            $("#newAccount").modal('hide');
                        },
                        error: function (request, status, error) {
                            var val = request.responseText;
                            alert("error" + val);
                        },
                    }); //end ajax

                } //endif
            });

            $.ajax({
                'url': "/accounts/list",
                'method': "GET",
                'contentType': 'application/json'
            }).done(function (ajaxData) {
                $('#accounts').dataTable({
                    data: ajaxData,
                    order: [[0, 'asc']],
                    columns: [
                        { data: 'name' },
                        { data: 'currency' },
                        {
                            data: 'id',
                            "orderable": false,
                            "searchable": false,
                            "render":
                                function (data, type, row, meta) {
                                    var a = '<a href="accounts/delete/' + data + '"><i class="fa fa-minus-circle text-navy" aria-hidden="true"></i></a>';
                                    return a;
                                }
                        },
                    ]
                })
            })
        });



    </script>
}
