services:
  db:
     image: "mcr.microsoft.com/mssql/server:2019-latest"
     environment:
            SA_PASSWORD: "P@ssw0rd"
            ACCEPT_EULA: "Y"
     ports: 
      - 1433:1433
  rabbitmq:
    image: rabbitmq:3.9-management
    ports:
      - 5672:5672 
      - 15672:15672
  jaeger:
    image: jaegertracing/all-in-one:1.29
    ports:
      - 6831:6831/udp
      - 16686:16686